:root {
    -color-pink: #CD6858;
    -color-geen: #B4F8C8;
    -color-input-text: #333;
    -color-rose: #af7373;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}
